# Виртуальное окружение
venv/
env/
.venv/

# Временные файлы
port.txt
errors.txt
__pycache__/
*.pyc
*.pyo

# Личные данные
data/kwork_creds.json
data/notes.txt
data/playlist.json
data/original_theme.json
data/kwork_orders.json

# Настройки IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db